<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Complaints</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <h2 class="form-title">Add Customer</h2>
    <form class="customer-form" (ngSubmit)="onSubmit()" #customerForm="ngForm">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="customer.name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="customer.email" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="customer.phone">
      </div>
      <button type="submit" class="submit-button">Submit</button>
    </form>
  </div>
  </ion-content>