<ion-header class=" primary">
  <ion-toolbar class="headerColor">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="headerTextColor"></ion-menu-button>
    </ion-buttons>
    <ion-title class=" headerTextColor" >Complaints</ion-title>
    <ion-text slot="end" class=" ion-padding-end cursorPointer headerTextColor" (click)="onAddComplaints()">
      Add New
    </ion-text>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-content-background">
  <div class="container">
    <h2 class="form-title">Add Customer</h2>
    <form class="customer-form" (ngSubmit)="onSubmit()" #customerForm="ngForm">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="customer.name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="customer.email" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="customer.phone">
      </div>
      <button type="submit" class="submit-button">Submit</button>
    </form>
  </div>
  </ion-content>