<ion-header class=" primary">
  <ion-toolbar class="headerColor">
    <ion-buttons slot="start">
      <ion-back-button class="back-button"></ion-back-button>
    </ion-buttons>
    <ion-title class=" headerTextColor" >Add Complaints</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">addComplaints</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
